/* UNIVERSAL SELECTOR: * */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 46%, 89%);
  font-family: "Outfit", "Verdana", "Trebuchet", sans-serif;
}

.card {
  background-color: white;
  border-radius: 1rem;
  width: 32%;
  padding: 1rem;
  box-shadow: 0px 0px 64px -13px black;
}

img {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.text {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
}

h3 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 1rem;
}

p {
  color: hsl(220, 15%, 55%);
}
