/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.light-text {
  opacity: 0.7;
}

.summary {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "janette patrick patrick kira";
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto); */
}

.grid-item {
  background-color: #fff;
  color: hsl(217, 19%, 35%);
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.228);
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.user img {
  border-radius: 50%;
  border: 2px solid white;
  width: 2.25rem;
}

.daniel {
  /* grid-column: 1 / span 2; */
  grid-area: daniel;
  background-color: hsl(263, 55%, 52%);
  color: white;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 24rem top;
}

.jonathan {
  grid-area: jonathan;
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.kira {
  grid-area: kira;
  grid-row: span 2;
}

.patrick {
  grid-area: patrick;
  grid-column: 2 / span 2;
  background-color: hsl(219, 29%, 14%);
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
